.result {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;

    background-color: gray;
}

.title {
    margin-top: 2vh;
    font-weight: bold;
    height: 15vh;
    font-size: 30px;
    margin-left: 60px;
    margin-right: 60px;

    display: flex;
    justify-content: center;
    text-align: center;
}

.list {
   list-style: none;
   margin-left: 0;
   padding-left: 2em;
   text-indent: -0.5em;
        font-size: 25px;
}

.play_again{
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;

    height: 15vh;
    margin-top: 2vh;
    font-size: 25px;

    text-decoration: none;
    color: black;
}
