.home {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;

    background-color: gray;
    text-align: center;
}

.welcome {
    margin-top: 2vh;
    font-weight: bold;
    height: 10vh;
    font-size: 30px;
    margin-left: 60px;
    margin-right: 60px;
}

.goal {
    margin-top: 30vh;
    height: 10vh;
    font-size: 25px;
    margin-left: 60px;
    margin-right: 60px;
}

.question {
    height: 10vh;
    margin-top: 25vh;
    font-size: 25px;
    margin-left: 60px;
    margin-right: 60px;
}

.begin{
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 4vh;

    font-size: 25px;

    text-decoration: none;
    color: black;
}