.quiz {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;

    background-color: gray;
    text-align: center;
}

.title {
    margin-top: 2vh;
    font-weight: bold;
    height: 10vh;
    font-size: 24px;
    margin-left: 10px;
    margin-right: 10px;
}

.box {
    display: flex;

    align-items: center;
    justify-content: center;

    border-style: solid;
    border-width: 2px;

    font-size: 25px;

    padding-top:80px;
    padding-bottom:80px;
    padding-left:20px;
    padding-right:20px;

    margin-top: 10vh;
    margin-bottom: 6vh;
    margin-left: 50px;
    margin-right: 50px;
}

.level {
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 50px;
    margin-right: 50px;
}

.true {

}

.false{
    margin-top: 3vh;
}

